.conteineri{
    max-width:1920px;
    width: 100%;
    height: 100%;
    margin: auto;
}
.cover{
    width: 100%;
    padding: 37px 243px 37px 240px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 1;
    background-color: rgb(124, 71, 44, 0.8);
    backdrop-filter: blur(5px);
    
}
.header_ul{
    display: flex;
    gap: 60px;
} 
.active{
    color: #D5906E;
    font-size: 18px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    text-decoration: none;
}
.no_active{
    color: white;
    font-size: 18px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    text-decoration: none;
}
.header_Div{
    display: flex;
    gap: 16px;
  

}
.header_p{
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
}
/* header ending */
.section1{
  width: 100%; 
  height: 720px; 
  
  
}
.section_div{
    align-items: center;
    
}
.section_text1{
    position: absolute;
    width: 60%;
    left: 717px;
    top: 283px;
    font-size: 40px;
    font-weight: 700;
    font-family:  'Inter', sans-serif;
    color: white;
    
}
.section_text2{
    position: absolute;
    width: 751px;
    top: 347px;
    height: 51px;
    left: 585px;
    font-size: 16px;
    font-weight: 700;
    font-family:  'Inter', sans-serif;
    color: white;
    align-items: center;
    padding-bottom: 72px;
  
}
.section_div2{
    position: absolute;
    width: 26%;
    height: 51px;
    left: 805px;
    border:  2px solid #D5906E;
    border-radius: 10%;
    top: 476px;
}
.section_text{
    padding: 19px 117px  18px 116px;
    color: white;
    font-size: 16px;
    font-weight: 400;
    font-family:  'Inter', sans-serif;
    text-align: center;
}
/* section1 ends */
.article_one{
    width: 100%;
    height: 206px;
    padding: 160px 490px;
    display: flex;
    gap: 60px;
    justify-content: space-between;
}
.article_text{
    color: #B53B1B;
    font-size: 18px;
    font-weight: 400;
    font-family:  'Inter', sans-serif;
    padding-top: 24px;
    text-align: center;
}
/* article ends */
.section2{
    width: 100%;
    height: 922px;
    margin: 96px 150px;
    background-color: #402101;
}
.section2_h{
    padding-top: 96px;
    font-size: 40px;
    font-weight: 700;
    font-family:  'Inter', sans-serif;
    text-align: center;
    color: white;
    
}
.section2_div1{
    padding-top: 40px;
    margin: auto;
    padding-left: 150px;
    padding-right: 150px;
    display: flex;
    gap: 60px;
}
.photo1{
    width: 60%;
}
.photo2{
    width: 40%;
}
.section2_div2{
    display: flex;
    gap: 60px;
    padding-top: 60px;
    padding-left: 150px;
    padding-right: 150px;
}
.photo3{
    width:26% ;
}
.photo4{
    width: 26%;
}
.photo5{
    width: 50%;
}
 /* section2 ending */
    
.article2{
    width: 80%;
    margin: auto;
    margin-left: 240px;
    margin-right: 240px;    
}
.article2_h2{
    font-size: 40px;
    padding-bottom: 40px;
    font-weight: 700;
    font-family:'Inter', sans-serif; 
    text-align: center;
    
}
.article2_div1{
    /* display: flex;
    justify-content: space-between;
    gap: 60px;  
    position:absolute; */
}
.photo{
    width: 20%;
  
    
   
}
.inside{
    width: 5%;
    position: absolute;
   padding-top: 160px;
   padding-left: 16px;
   padding-bottom: 16px;
}
.click1{
    
    padding-right: 24px;
    align-items: center;
}
.click2{
    padding-left: 24px;
}
/* article finishes */
.section3{
    max-width:inherit;
    width: inherit;
    margin-top: 160px;
    border: 2px solid red;
    background-color: #402101;
}
.section3_photo{
    width: 100%;
    height: 480px;
}
.section3_h2{
    height: 48px;
    position: absolute;
    top: 2750px;
    left: 650px;
    font-size: 40px;
    font-weight: 700;
    font-family:'Inter', sans-serif; 
    color: white;
   
}


